#ignora la carpeta datasetsRNG para el generador de números rectangulares
datasetsRNG/*
!datasetsRNG/.gitkeep

#ignora la carpeta datasetsGCM para el generador de números congruenciales mixtos
datasetsGCM/*
!datasetsGCM/.gitkeep

#ignora la carpeta datasetsGCMult para el generador de números congruenciales lineales
datasetsGCMult/*
!datasetsGCMult/.gitkeep

